

#introduction {
  background-color: #CCD1D1; 
}

#q1 {
  font-style: italic;
  border-inline: 0.3rem solid;
  border-inline-color: #CCD1D1;
  writing-mode: horizontal-tb;;
}

#q2 {
  font-style: italic;
  border-inline: 0.3rem solid;
  border-inline-color: #CCD1D1;
  writing-mode: horizontal-tb;
}

#q3 {
  font-style: italic;
  border-inline: 0.3rem solid;
  border-inline-color: #CCD1D1;
  writing-mode: horizontal-tb;
}

#intro_p{
  border-inline: 0.3rem solid;
  border-inline-color: #CCD1D1;
  writing-mode: horizontal-tb;
}

#related_work{
    background-color: #D4E6F1; 
}

#rw_p{
  border-inline: 0.3rem solid;
  border-inline-color: #D4E6F1;
  writing-mode: horizontal-tb
}

#da{
 background-color: #73C6B6; 
}

#da_1{
  border-inline: 0.3rem solid;
  border-inline-color: #73C6B6;
  writing-mode: horizontal-tb;
}

#da_p1{
  border-inline: 0.3rem solid;
  border-inline-color: #73C6B6;
  writing-mode: horizontal-tb;
}

#da_p2{
  border-inline: 0.3rem solid;
  border-inline-color: #73C6B6;
  writing-mode: horizontal-tb;
}

#da_p3{
  border-inline: 0.3rem solid;
  border-inline-color: #73C6B6;
  writing-mode: horizontal-tb; 
}

#im{
  background-color : #5499C7; 
}

#im_p{
  border-inline: 0.3rem solid;
  border-inline-color: #5499C7;
  writing-mode: horizontal-tb;
}

#lim{
  background-color: #117A65; 
}

#lim_p{
  border-inline: 0.3rem solid;
  border-inline-color: #117A65;
  writing-mode: horizontal-tb;
}


